<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/indexStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Nunito+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2>RESTAURANT POLL</h2>
        <nav class="topNav">
            <ul>
                <li><a href = "/">Home</a></li>
                <li><a href = "/login">Sign In</a></li>
                <li id="register"><a href = '/signup'>Register</a></li>
            </ul>
        </nav>
    </header>
    <section class="content">
        <img src="/img/Rectangle 10.png">
        <article class="hook">
            <h3>Don't Know Where To Eat?</h3>
            <div class="cta">
                <p>Use <span>Restaurant Poll</span> when your friends are indecisive and don't know what
                    restaurant to go to </p>
                <p>Record your experiences with previously visited restaurants and create polls using a
                    list of your favorite restaurants to vote on!
                </p>
            </div>
        </article>
    </section>
    <section class="tracker">
        <article>
            <h3>Keep track of your experiences with previously visited restaurants</h3>
        </article>

    </section>
</body>
</html>