<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/indexStyles.css">
</head>
<body>
    <header>
        <section class="left">
            <div class="title">
                <h2>RESTAURANT POLL</h2>
            </div>
        </section>
        <section class="right">
                <nav class="topNav">
                    <ul>
                        <li><a href = '/signup'>Register</a></li>
                        <li><a href = "/login">Sign In</a></li>
                        <li><a href = "/">Home</a></li>
                    </ul>
                </nav>
        </section>
    </header>
    <section class="hook">
        <h3>Don't Know Where To Eat?</h3>
        <p>Use <span>Restaurant Poll</span> when your friends are indecisive and don't know what
            restaurant to go to </p>
        <p>Record your experiences with previously visited restaurants and create polls using a
            list of your favorite restaurants to vote on!
        </p>
    </section>
</body>
</html>