<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/indexStyles.css">
</head>
<body>
    <section class="left">
        <header>
            <h3>RESTAURANT POLL</h3>
        </header>
    </section>
    <section class="right">
        <header>
            <nav class="topNav">
                <ul>
                    <li><a href = '/signup'>Sign Up</a></li>
                    <li><a href = "/login">Login</a></li>
                    <li><a href = "/">Home</a></li>
                </ul>
            </nav>
        </header>
    </section>
    
    <!-- <section class="hook">
        <h3>Have trouble deciding what restaurant you and your friends want to go to?</h3>
        <p>Record your experiences with previously visited restaurants</p>
        <span>Create a poll using your list of restaurants for friends to vote on</span>

    </section> -->
</body>
</html>