<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/indexStyles.css">
</head>
<body>
    <background-img src="img/kevin-woblick-sRowk_pR-bk-unsplash.jpg">
    <nav class="topNav">
        <ul>
            <li><a href = '/signup'>SignUp</a></li>
            <li><a href = "/login">Login</a></li>
            <li><a href = "/">Home</a></li>
            
        </ul>
    </nav>
    <h1>Welcome to your restaurant experiences</h1>
</body>
</html>