<!DOCTYPE html>
<html lang ='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='css/loginStyles.css'>
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <div class="mainDisplay">
            <h1>Welcome!</h1>
            <span>Don't have an account? <a href="/signup">Sign Up</a>Now.</span>
            <form action = '/login' method = "POST">
                <input type="email" placeholder="Email" name ="email">
                <input type="password" placeholder="Password" name = "password">
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>
</body>
</html>
