<!DOCTYPE html>
<html lang ='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='css/loginStyles.css'>
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <div class="mainDisplay">
        <div class="mainLogin">
            <h1>LOGIN PLEASE</h1>
            <form action = '/login' method = "POST">
                <input type="email" placeholder="EMAIL" name ="email">
                <input type="password" placeholder="PASSWORD" name = "password">
                <button type="submit">LOGIN</button>
            </form>
        </div>
        <div class="mainLogin">
            <img src="img/kevin-woblick-sRowk_pR-bk-unsplash.jpg">
        </div>
    </div>
</body>
</html>
