<!DOCTYPE html>
<html lang ='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/signupStyles.css">
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <div class="mainDisplay">
        <div class="mainSignupRight">
            <h1>Create an Account</h1>
            <form action = '/signup' method = "POST">
                <input type ="text" placeholder="Username" name ="userName">
                <input type="email" placeholder="Email" name ="email">
                <input type="password" placeholder="Password" name = "password">
                <input type="password" placeholder="Confirm Password" name = "confirmPassword">
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>

