body{
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url(../img/Frame_3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
header{
    position: relative;

}
header h3{
    color: #1B263B;
    font-size: 34px;
    margin: auto 0;
}
.topNav{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50px;
}
.topNav ul{
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topNav a{
    float: left;
    color: #1B263B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topNav ul li a:hover{
    background-color: #E0E1DD;
    color: black;
}
.hook{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding-bottom: 150px;
}

.hook h3{
    color: #1B263B;
    font-size: 40px;
}
.hook p{
    color: #1B263B;
    font-size: 30px;
}
.hook span{
    color: #1B263B;
    font-size: 20px;
}