:root{
    --main-bg-color: white;
    --secondary-bg-color: #E2E8F0;
    --primary-color: #3d5a80;
    --main-text-color: black;
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;
    margin: 0 auto;
    column-gap: 30vw;
    background-color: white;
}
.menu{
    display: none;
}

h2{
    color: var(--main-text-color);
    font-size: 3.5rem;
    padding: 5px 10px;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

.topNav{
    flex: 1;
    text-align: right;
    display: block;
}
.topNav ul{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.topNav ul li{
    list-style: none;
    font-size: 2rem;
    border-radius: 15px;
    padding: 5px 30px;
    margin-left: 30px;
    background-color: var(--secondary-bg-color);
}
.topNav a{
    color: var(--main-text-color);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.topNav ul li a:hover{
    color: var(--primary-color);
}
#register{

    background-color: var(--primary-color);
}
#register a{
    color: white;
}

#register:hover{
    background-color:#2b3f5a;
}

.content, .tracker, .poll-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondary-bg-color);
    padding: 2rem 10rem;
    column-gap: 10rem;
}

img {
    height: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 10px;
    place-self: center;
    object-fit: contain;
    width: 100%;
}


.hook{
    grid-column: 2/3;
    place-self: center;
    width: 35vw;
    min-height: 30vh;
    padding: 0 ;
}

.hook h3{
    text-align: center;
    color: var(--main-text-color);
    font-size: 3.5rem;
    padding: 2rem 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.hook p{
    color: var(--main-text-color);
    font-size: 2rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.cta{
    border-radius: 25px;
    padding: .5em 3em;
}
span{
    color: var(--main-text-color);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.tracker{
    background-color: var(--main-bg-color);
}
.tracker article{
    grid-column: 1/2;
}
.tracker img{
    grid-column: 2/3;
}

.poll-features img{
    grid-column: 1/2;
}
.poll-features article{
    grid-column: 2/3
}

@media screen and (max-width: 1200px) {
    h2{
        font-size: 2.5rem;
    }
    .topNav ul{
        margin: 0;
    }
    .topNav a{
        font-size: 1.3rem;
    }
    .hook h3{
        font-size: 3rem;
    }
    
    .hook p{
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 1024px) {
    .menu{
        display: block;
        font-size: 2.5rem;
        padding: 5px 10px;
    }
    .topNav{
        display: none;;
    }
    header {
        margin: 0;
        column-gap: 0;
    }
    .content, .tracker, .poll-features {
        display: flex;
        flex-direction: column;
        padding: 2rem 3rem;
    }
    .hook{
        width: 100%;
        min-height: auto;
        padding: 0;
    }
    article{
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding-top: 15px;
    }
    h2{
        font-size: 2rem;
        padding-top: 2px;
    }
    .topNav a{
        font-size: .8rem;
    }
    .content{
        display: flex;
        flex-direction: column-reverse;
    }
    .image img{
        padding-right: 3em;
        object-fit: contain;
    }
    .image{
        display: flex;
        flex: 0 1 100%;
        height:fit-content;
    }
    
    .hook h3{
        font-size: 1.2rem;
    }
    
    .hook p{
        font-size: .7rem;
    }
    .hook{
        width: 100%;
        flex: 0 0 30%;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding-top: 15px;
    }
    h2{
        font-size: 1.3rem;
        padding-top: 2px;
    }
    .topNav a{
        font-size: .5rem;
    }
    .image img{
        height: 50vh;
        padding-right: 3em;
        object-fit: contain;
    }
    .image{
        display: flex;
        flex: 0 1 100%;
        height:fit-content;
    }
    .hook h3{
        font-size: 2rem;
    }
    
    .hook p{
        font-size: 1rem;
    }
    .content{
        flex-direction: column-reverse;

    }
    .hook{
        width: 100%;
        flex: 0 0 30%;
    }
}

@media screen and (max-width: 375px) {
    h2{
        font-size: .9rem;
    }
    .topNav a{
        font-size: .5rem;
    }
    .hook h3{
        font-size: 2rem;
    }
    
    .hook p{
        font-size: .8rem;
    }
}