:root{
    --main-bg-color: white;
    --secondary-bg-color: #E2E8F0;
    --primary-color: #3d5a80;
    --main-text-color: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--secondary-bg-color);
}
.mainDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color); 
    border-radius: 30px;
    width: 33%;
}
.mainDisplay form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainDisplay form input{
    padding: 20px;
    margin: 5px;
    background-color: #FDEEDC;
    border-radius: 10px;
    color: black;
    border:none
}
::placeholder{
    color: #E38B29;
    font-style: sans-serif;
}
.mainDisplay form button{
    width: 80%;
    padding: 10px;
    margin: 5px;
    background-color: #E38B29;
    color: #E0E1DD;
    border-radius: 20px;
    font-size: sans-serif;
    border: none
}
h1{
    font-size: 3rem;
    color: var(--main-text-color);
    margin: 0;
}
span{
    color: var(--main-text-color);
    margin-bottom: 2rem;
}

@media screen and (max-width:510px){
    .mainDisplay{
        flex-direction: column;
    }
    .image{
        margin-top: 10px;
    }

}
