:root{
    --main-bg-color: white;
    --secondary-bg-color: #E2E8F0;
    --primary-color: #3d5a80;
    --main-text-color: black;
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    background-color:  #E2E8F0;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;
    background-color: white;
}

h1{
    font-size: 3.5rem;
    color: black;
    padding: 5px 10px;
}
.fa-bars{
    display: none;
}
.active{
    display: block;
}
nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 30px;
}

nav ul li {
    list-style: none;
    font-size: 2rem;
    border-radius: 15px;
    padding: 5px 15px;
    margin-left: 30px;
}

nav a{
    color: var(--main-text-color);
    text-decoration: none;
}
nav ul li a:hover{
    color: var(--primary-color);
}
.logout-button{
    cursor: pointer;
}
.logout-button:hover{
    color: var(--primary-color)
}
#create-poll{
    background-color: var(--primary-color);
}
#create-poll a{
    color: white;
}
#create-poll:hover{
    background-color:#2b3f5a;
}
.reset-button-style{
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
    color: var(--main-text-color);
}

h2{
    text-align: center;
    color: black;
    font-size: 3rem;
    background-color:  #E2E8F0;
    padding: 1rem;
}

.restaurants{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.restaurant{
    display:flex;
    font-size: 30px;
    flex:0 0 33%;
    padding: 1rem;
    flex-wrap: wrap;
}

.restaurant-item{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    box-shadow: -5px 0px #ee6c4d;
    border-radius: 10px;
    word-break: break-all;
    padding: 15px;
}

.restaurant-item span{
    color: black;
    padding: 5px 0px;
}
.restaurant-name{
    font-size: 2rem;
    font-weight: bold;
    word-break: normal;
}
.restaurant-rating{
    font-size: 1.5rem;
}

.fa-trash{
    padding-right: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    align-self: flex-end;
    cursor: pointer;
}

.comment{
    flex:1;
    font-size: 20px;
    color:white;
}
#showDialog{
    background-color: var(--secondary-bg-color);
    font-size: 2rem;
    border-radius: 10px;
    padding: 10px 35px;
    margin-right: 30px;
    margin-bottom: 30px;
    align-self: flex-end;
    position: sticky;
    bottom: 0;
    background-color: #3d5a80;
    color: white;
    cursor: pointer;
}
#showDialog:hover{
    background-color: #2b3f5a;
}

#addRestaurantDialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-radius: 10px;
    border: transparent;
}

.formSub{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 15px 15px 0 15px;
}

.formSub form{
    all: initial;
}

.formSub h3{
    color: var(--main-text-color);
    font-size: 2.5rem;
    text-decoration: underline;
    margin-top: 10px;
}

.input-form{
    width: 100%;
}
.input-form input{
    color: var(--main-text-color);
    font-size: 1.5rem;
    padding: 0px 5px;
}
.input-form textarea{
    color: var(--main-text-color);
    font-size: 1.5rem;
    padding: 0px 5px;
}

label{
    color: var(--main-text-color);
    font-size: 2rem;
}

#name-field{
    width: 100%;
    flex:1;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    height: 25px;
    border: transparent;
}

#comment-field{
    width:100%;
    height: 100px;
    text-align: left;
    flex-wrap: wrap;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    height: 190px;
    border: transparent;
}

#rating-field{
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    height: 25px;
    border: transparent;
    width: 40px;
    text-align: center;
}

#submitButton{
    display: block;
    color: white;
    font-size: 2rem;
    border-radius: 20px;
    border: 5px solid #3d5a80;
    padding: 5px 30px;
    margin-left: auto;
    margin-bottom: 15px;
    width: 25%;
    background-color: var(--primary-color);
}

#closeDialog{
    color: var(--main-text-color);
    font-size: 2rem;
    font-weight: 600;
    background: transparent;
    border: transparent;
    margin-top: 10px;
    margin-right: 30px;
    position: absolute;
    right: 0;
    top: 0;
}

#name-field, #rating-field{
    margin-bottom: 30px;
}

@media screen and (max-width:1200px){
    h1{
        font-size: 2rem;
    }
    nav ul li {
        font-size: 1.5rem;
        padding: 5px 20px;
        margin-left: 30px;
    }
    #showDialog{
        padding: 5px 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    #submitButton{
        font-size: 1.5rem;
        padding: 5px 15px;
    }
    .formSub h3{
        font-size: 2rem;
    }
    label{
        font-size: 1.5rem;
    }
}
@media screen and (max-width:768px){
    header{
        margin:0;
        column-gap: 0;
    }
    h1{
        font-size: 2rem;
    }
    nav{
        flex: 1 0 100%;
        display: none;
    }
    nav ul{
        flex-direction: column;
        margin-right: 0;
    }
    nav ul li {
        list-style: none;
        font-size: 1.5rem;
        text-align: center;
        padding: 5px 20px;
        margin-left: 0px;
        border-radius: 0;
    }

    .fa-bars{
        display: block;
        color: #3d5a80;
        font-size: 2.5rem;
        padding: 5px 10px;
    }
    #showDialog{
        font-size: 1.5rem;
        padding: 5px 10px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
    #submitButton{
        font-size: 1.5rem;
        border-radius: 20px;
        padding: 5px 15px;
        width: 35%;
    }
}

@media screen and (max-width: 375px) {
    h1{
        font-size: 1.5rem;
    }
    nav{
        display: none;
        background-color: #3d5a80;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li {
        list-style: none;
        font-size: 1rem;
        border: none;
        padding: 5px 10px;

    }
    .fa-bars{
        display: block;
        flex: 1;
    }
    #showDialog{
        font-size: 1rem;
        padding: 5px 10px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
    #submitButton{
        font-size: 1rem;
        border-radius: 20px;
        padding: 5px 10px;
        width: 100%;
    }
    #closeDialog{
        font-size: 1rem;
        margin-right: 15px;
    }
    .formSub h3{
        font-size: 1rem;
    }
    #rating-field{
        width: 25px;
    }
}
