:root{
    --main-bg-color: white;
    --secondary-bg-color: #E2E8F0;
    --primary-color: #3d5a80;
    --main-text-color: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}html, body {
    height: 100vh;
}
body{
    background-color: var(--secondary-bg-color);
}
.mainDisplay{
    display:grid;
    height: 100vh;
}

.mainSignupRight{
    place-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color); 
    border-radius: 20px;
    width: 400px;
    padding: 2rem 0;
}
.mainSignupRight form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
}
.mainSignupRight form input{
    width: 100%;
    padding: 20px;
    margin: 5px;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    color: black;
    border:none
}
::placeholder{
    color: var(--main-text-color);
    font-style: sans-serif;
}
.mainSignupRight form button{
    width: 100%;
    padding: 10px;
    margin: 5px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    font-size: sans-serif;
    border: none
}
h1{
    font-size: 2.5rem;
    color: var(--main-text-color);
    font-style: sans-serif;
    margin-bottom: 2rem;
}
span a {
    text-decoration: none;
    color: var(--primary-color)
}

@media screen and (max-width:510px){
    h1{
        font-size: 2.0rem;
    }
    
    .mainSignupRight{
        width: 300px;
        padding: 1.5rem 0 1rem 0;
    }
    .mainSignupRight form{
        width: 250px;
    }
}

