html, body {
    margin: 0; height: 100vh; overflow: hidden
}
body{
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
    background-color: #F1A661;
}
.mainDisplay{
    display:flex;
    flex:1;
}
.mainSignupLeft{
    display:flex;
    flex: 0 1 50%;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainSignupRight{
    display:flex;
    flex: 0 1 50%;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainSignupRight form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainSignupRight form input{
    width: 100%;
    padding: 20px;
    margin: 5px;
    background-color: #FDEEDC;
    border-radius: 10px;
    color:black;
    border: none;
}
::placeholder{
    color: #E38B29;
    font-style: sans-serif;
}
.mainSignupRight form button{
    width: 80%;
    padding: 10px;
    margin: 5px;
    background-color: #E38B29;
    color: #E0E1DD;
    border-radius: 20px;
    font-size: sans-serif;
    border: none;
}
h1{
    font-size: 3rem;
    color:#E0E1DD;
    font-style: sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}

