:root{
    --main-bg-color: white;
    --secondary-bg-color: #E2E8F0;
    --primary-color: #3d5a80;
    --main-text-color: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}html, body {
    height: 100vh;
}
body{
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
    background-color: var(--secondary-bg-color);
}
.mainDisplay{
    display:grid;
    grid-template-columns: 45% 55%;
}
.mainSignupLeft{
    display:flex;
    flex: 0 1 45%;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainSignupRight{
    place-self: center;
    display:flex;
    flex: 0 1 55%;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    background-color: var(--main-bg-color);
}
.mainSignupRight form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
}
.mainSignupRight form input{
    width: 100%;
    padding: 20px;
    margin: 5px;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    color: black;
    border:none
}
::placeholder{
    color: #E38B29;
    font-style: sans-serif;
}
.mainSignupRight form button{
    width: 100%;
    padding: 10px;
    margin: 5px;
    background-color: #E38B29;
    color: #E0E1DD;
    border-radius: 20px;
    font-size: sans-serif;
    border: none;
}
h1{
    font-size: 3rem;
    color:#E0E1DD;
    font-style: sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}

