body{
    background: url(/img/cozy-empty-restaurant.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0;
}
h1{
    text-align: center;
}

.restaurants{
    display: flex;
    flex-direction: column;
}

.restaurant{
    font-size: 30px
}
.formSub{
    display: flex;
    flex-direction: column;
    flex: 1;
}
h2{
    text-align: center;
    margin-top: auto;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}